<ng-content select="h1"></ng-content>
<div *ngIf="nome != 'teste'">
  <p [ngClass]="{'ativado':valor, 'desativado':!valor}">Teste</p>
  <p [ngStyle]="{'height':alturaPx, 'background':bgColor}">Style</p>
</div>
<hr>

<input [(ngModel)]="nome">
<button (click)="addLista()">Salvar</button>

<ul>
  <li *ngFor="let item of lista">{{ item.nome }}</li>
</ul>

<!-- Se a lista possuir conteudo, executa o ngFor -->
<ng-template ngFor let-item [ngForOf]="lista">
  <p>
    {{ item.nome }}
  </p>
</ng-template>
<ng-content select="h3"></ng-content>
