<!-- <app-title teste="Mudou"></app-title>
<app-data-biding></app-data-biding>
<app-diretivas-estruturais></app-diretivas-estruturais>
<app-diretivas-atributos>
  <h1>Inicio</h1>
  <h3>Final</h3>
</app-diretivas-atributos>
<app-diretivas-atributos>
  <h1>Inicio 2</h1>
  <h3>Final 2</h3>
</app-diretivas-atributos>
<app-new-component></app-new-component> -->

<!-- <app-input [num]="valor"></app-input>
<button (click)="add()">add</button>

<hr> -->

<!-- Verifica se a variavel getDados é true para poder exibir o ng-template -->
<!-- <ng-template [ngIf]="getDados">
  <h1>{{ getDados.nome }}</h1>
  <h2>{{ getDados.idade }}</h2>
</ng-template> -->

<!-- Captura o evento de output -->
<!-- <app-output (enviarDados)="setDados($event)"></app-output> -->

<app-food-add></app-food-add>
<app-food-list></app-food-list>
<router-outlet></router-outlet>
